* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background: #fff;
}
.header{
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 56px 192px 0 191px; */
}
.link_logo{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 41px;
  width: 160px;
  margin: 56px 0 0 191px;
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #233348;
}
.text_T{
  position: absolute;
  left: 13px;
  height: 32px;
  width: 17px;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #fff;
}
.image_logo_header{
  width: 41px;
  height: 41px;
}
.text_logo{
  height: 30px;
  width: 107px;
}
.nav{
  margin: 70px 192px 0 0px;
}
.ul{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 -40px;
}
.list_item{
  margin-left: 40px;
}
.link_item-1{
  width: 51px;
  height: 23px;
}
.link_item-2{
  width: 110px;
  height: 23px;
}
.link_item-3{
  width: 44px;
  height: 23px;
}
.link_item-4{
  width: 104px;
  height: 23px;
}
.link_item-5{
  width: 76px;
  height: 23px;
}
.a{
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #1f1534;
}
.a-1{
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #1f1534;
  opacity: 0.5;
}
.main{
max-width: 1600px;
margin: 0 auto;
}
.section-1{
  max-width: 1600px;
  position: relative;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.text__section-1{
  margin: 191px 0 0 190px;
}
.main__title{
  width: 427px;
  height: 112px;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000;
}
.text__p-section-1{
  width: 445px;
  height: 96px;
  margin: 25px 0 0 0;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
}
.button-section-1{
  width: 200px;
  height: 60px;
  margin: 45px 0 0 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  border-radius: 55px;
  border: none;
  background: #458ff6;
  color: #fff;
  text-align: center;
}
.button-section-1:hover{
  color: #e608ee;
  background: #461172;
}
.button-section-1:focus{
  color: #0b8000;
  outline: none;
  border: 2px solid #eeb808;
}
.button-section-1:active{
  color: #0673f0;
  background: #ae0ae0;
  outline: none; 
}
.image_illustration1{
  margin: 84px 163px 0 0;
}
.elements-1{
  position: absolute;
  top: 53px;
  height: 115px;
  width: 82px;
  opacity: 0.3;
}
.vector__elements-1{
  width: 10px;
  height: 10px;
  margin: 10px 0 0 14px;
}
.section-2{
  position: relative;
  max-width: 1600px;
}
.text__title__section-2{
  position: relative;
  width: 212px;
  height: 56px;
  margin: 192px auto 0;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000; 
} 
.text__title__section-2::before{
  position: absolute;
  content: "";
  height: 2px;
  width: 56px;
  background: #000;
  top: 80px;
  bottom: 0;
  left: 78px;
}
.text__title__section-2::after{
  position: absolute;
  content: "";
  height: 2px;
  width: 56px;
  background-color: #000;
  top: 80px;
  bottom: 0;
  left: 78px;
} 
.text__p-section-2{
  width: 952px;
  height: 60px;
  margin: 61px auto 0;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #7d7987;
}
.services{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1120px;
  height: 745px;
  margin: 80px auto 0;
}
.box{
  width: 350px;
  height: 354px;
  background: #fff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.box-4{
  margin-top: 37px;
}
.box-5{
  margin-top: 37px;
}
.box-6{
  margin-top: 37px;
}
.text__title-services{
  margin: 0 0 0 38px;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
  color: #000;
}
.text__p-services{
  margin: 0 0 0 38px;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
}
.search-doctor{
  width: 266px;
  height: 84px;
}
.online-pharmacy{
  width: 261px;
  height: 84px;
}
.consultation{
  width: 261px;
  height: 84px;
}
.details-info{
  width: 261px;
  height: 84px;
}
.emergency-care{
  width: 266px;
  height: 84px;
}
.tracking{
  width: 261px;
  height: 56px;
}
.image__search-doctor{
  margin: 54px 0 22px 38px;
}
.image__online-pharmacy{
  margin: 62px 0 19px 38px;
}
.image__consultation{
  margin: 47px 0 24px 38px;
}
.image__details-info{
  margin: 46px 0 25px 38px;
}
.image__emergency-care{
  margin: 59px 0 36px 38px;
}
.image__tracking{
  margin: 52px 0 19px 38px;
}
.button-flex{
  display: flex;
  align-content: center;
  justify-content: center;
}
.button-section-2{
  height: 56px;
  width: 200px;
  margin-top: 70px;
  padding: 0;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  color: #458ff6;
  background: #fff;
}
.button-section-2:hover{
  color: #e608ee;
  background: #461172;
}
.button-section-2:focus{
  color: #0b8000;
  outline: none;
  border: 2px solid #eeb808;
}
.button-section-2:active{
  color: #0673f0;
  background: #ae0ae0;
  outline: none; 
}
.bg_element{
  position: absolute;
  z-index: -1;
}
.elements-2{
  position: absolute;
  top: 544px;
  left: 1278px;
  width: 132px;
  height: 115px;
  opacity: 0.3;
  z-index: -1;
}
.vector__elements-2{
  width: 10px;
  height: 10px;
  margin: 10px 0 0 13px;
}
.section-3{
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.image_illustration2{
  margin: 220px 0 0 135px;
}
.text__section-3{
  margin: 278px 192px 0 0;
}
.text__title__section-3{
  position: relative;
  width: 481px;
  height: 112px;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000; 
}
.text__title__section-3::before{
  position: absolute;
  content: "";
  height: 2px;
  width: 56px;
  background: #000;
  top: 136px;
  left: 0;
}
.text__title__section-3::after{
  position: absolute;
  content: "";
  height: 2px;
  width: 56px;
  background-color: #000;
  top: 136px;
  left: 0;
} 
.text__p-section-3{
  width: 450px;
  height: 120px;
  margin: 59px 0 0 0;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}
.button-section-3{
  height: 56px;
  width: 200px;
  margin-top: 37px;
  padding: 0;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  color: #458ff6;
  background: #fff;
}
.section-4{
  position: relative;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.text__section-4{
  margin: 265px 0 0 280px;
}
.text__title__section-4{
  position: relative;
  width: 254px;
  height: 96px;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #000; 
}
.text__title__section-4::before{
  position: absolute;
  content: "";
  height: 2px;
  width: 56px;
  background: #000;
  top: 126px;
  left: 0;
}
.text__title__section-4::after{
  position: absolute;
  content: "";
  height: 2px;
  width: 56px;
  background-color: #000;
  top: 126px;
  left: 0;
} 
.text__p-section-4{
  width: 420px;
  height: 120px;
  margin: 63px 0 0 0;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}
.button-section-4{
  height: 56px;
  width: 200px;
  margin-top: 40px;
  padding: 0;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  color: #458ff6;
  background: #fff;
}
.image_illustration3{
  margin: 229px 164px 0 0;
}
.elements-3{
  position: absolute;
  top: -10px;
  left: 1514px;
  height: 115px;
  width: 86px;
  opacity: 0.3;
}
.vector__elements-3{
  width: 10px;
  height: 10px;
  margin: 10px 0 0 14px;
}
.button-section-3{
  height: 56px;
  width: 200px;
  margin-top: 70px;
  padding: 0;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  color: #458ff6;
  background: #fff;
}
.button-section-3:hover{
  color: #e608ee;
  background: #461172;
}
.button-section-3:focus{
  color: #0b8000;
  outline: none;
  border: 2px solid #eeb808;
}
.button-section-3:active{
  color: #0673f0;
  background: #ae0ae0;
  outline: none; 
}
.button-section-4{
  height: 56px;
  width: 200px;
  margin-top: 70px;
  padding: 0;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  color: #458ff6;
  background: #fff;
}
.button-section-4:hover{
  color: #e608ee;
  background: #461172;
}
.button-section-4:focus{
  color: #0b8000;
  outline: none;
  border: 2px solid #eeb808;
}
.button-section-4:active{
  color: #0673f0;
  background: #ae0ae0;
  outline: none; 
}
@font-face{
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff?43ej29') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-download:after{
  content: "\e900";
  color: #458ff6;
  margin-left: 15px;
}
.icon-arrow-left:before{
  content: "\e901";
  color: #458ff6;
}
.icon-arrow-right:before{
  content: "\e902";
  color: #458ff6;
}